<%= render 'home/main_navbar' %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'about/waldo.jpg', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-md-6">
      <h3 class="mb-3 animated fadeIn">My personal Story</h3>
      <p class="animated fadeIn">I’ve spent practically all my life studying, reading, playing, performing, teaching and composing music. But you’ll see, I also love technology. I was born and grow up in Cuba, a beautiful country with great people, but with little to no access to internet and technology in general, yet I was lucky to get my hands dirty and fixed common software errors once in a while in the University or Arts. </p>

      <p class="animated fadeIn">I’m based in Miami, Florida for almost 3 years now. God bless me to be awarded with a scholarship that led me to learn how to code at Wyncode Academy ( www.wyncode.co) , that school or boot-camp allowed me to get a better idea of the concepts that I started learning on my own and that were in barebones basically.  I work actually as a Full Stack Developer at Kipu Systems, I am always studying, learning, getting better, shaping myself to be a better person, as well as a better developer.    </p>
      <p class="animated fadeIn">  As a final advice, and to thank you for taking the time to read my story, let me tell you something, you will find people who will support you no matter what, and others will discourage you, will try to deviate you from the path, listen to me now, and don’t listen to them, do what want to do if you love it, love will give you the strengths to success. Do it!</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h3 class="text-center text-uppercase mb-5">Skills</h3>

  <div class="row text-center mb-5">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/ruby-on-rails-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/nodejs-new-pantone-black.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/es6.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/html5-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/css3-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/posgresql.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/react-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/github-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>

    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= image_tag 'about/docker-logo.png', class: 'img-fluid animated fadeIn', alt: 'Waldo the Developer' %>
    </div>
  </div>
</div>